<!-- ======= Footer Banner ======= -->
<section class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h4 class="header_heading mb-3">QUICK LINKS</h4>
      <a href="{% url 'index' %}">
        <p>Home</p>
      </a>
      <a href="{% url 'products'%}">
        <p>Products</p>
      </a>
      <a href="{% url 'our-reviews'%}">
        <p>Reviews</p>
      </a>
      <a href="{% url 'contact-us' %}">
        <p>Contact</p>
      </a>
    </div>
    <div class="col-6">
      <h4 class="header_heading">CROWN LUXE</h4>
      <p>
        Luxury hair made effortless.
        <span class="fw-bold">Crown Luxe</span> delivers premium quality and
        style for every occasion.
      </p>
      <div class="d-flex">
        <i class="bi bi-whatsapp socials_icons"></i>
        <i class="bi bi-instagram socials_icons"></i>
        <i class="bi bi-facebook socials_icons"></i>
        <i class="bi bi-twitter socials_icons"></i>
      </div>
    </div>
  </div>
</section>

<div style="height: 100px; width: 100%"></div>
