{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}
<style>
  .success_icon {
    font-size: 100px;
  }
</style>

<section class="container mt-5" style="margin-bottom: 120px">
  <center>
    <i class="bi bi-check-circle success_icon text-success mb-5"></i>
    <h1 class="header_heading text-uppercase">Payment Successful</h1>
    <p class="text-secondary">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, ab?
    </p>
  </center>
</section>

{% endblock %}
